<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="" />
    <add key="TemplateInit" value="Template\init.tt" />
    <add key="TemplateEntity" value="Template\Entity.tt" />
    <add key="TemplateConfiguration" value="Template\Configuration.tt" />
    <add key="TemplateIRespository" value="Template\IRespository.tt" />
    <add key="TemplateRespository" value="Template\Respository.tt" />
    <add key="TemplateDataAccess" value="Template\DataAccess.tt" />
    <add key="TemplateBatchRequestDto" value="Template\dto\BatchRequestDto.tt" />
    <add key="TemplatePageRequestDto" value="Template\dto\PageRequestDto.tt" />
    <add key="TemplateQueryDto" value="Template\dto\QueryDto.tt" />
    <add key="TemplateRequestDto" value="Template\dto\RequestDto.tt" />
    <add key="TemplateIApplication" value="Template\IApplication.tt" />
    <add key="TemplateApplication" value="Template\Application.tt" />
    <add key="TemplateValidators" value="Template\Validators.tt" />
    <add key="TemplateValidatorsFilters" value="Template\ValidatorsFilters.tt" />
    <add key="TemplateIModules" value="Template\IModules.tt" />
    <add key="TemplateModules" value="Template\Modules.tt" />
    <add key="TemplateController" value="Template\Controller.tt" />

    <add key="IRespository" value="\MicroService.IRespository.{0}" />
    <add key="Respository" value="\MicroService.Respository.{0}" />
    <add key="IApplication" value="\03.Application\MicroService.IApplication.{0}" />
    <add key="Application" value="\03.Application\MicroService.Application.{0}" />
    <add key="IModules" value=" \04.Modules\MicroService.IModules.{0}" />
    <add key="Modules" value=" \04.Modules\MicroService.Modules.{0}" />

    <add key="Controller" value=" \05.MicroServices\MicroService.ServerHost.{0}" />

   
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Junior.Common" publicKeyToken="998713eb9a0cce30" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
